<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    <div class="post">

        {% if posts %}
            <ul>
                {% for post in posts %}
                    <li>
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Blogposts found.</p>
        {% endif %}
        <h2>Post Title</h2>
        <p><em>Written by ...</em></p>
        <p>Post content</p>
    </div>
    <div class="post">
        <h2>Post Title</h2>
        <p><em>Written by ...</em></p>
        <p>Post content</p>
    </div>
    <div class="post">
        <h2>Post Title</h2>
        <p><em>Written by ...</em></p>
        <p>Post content</p>
    </div>
</body>
</html>
